In [5]:
import wandb
import pandas as pd

In [10]:
entity="miki-and-tml"
project="scaling-tests"
api = wandb.Api()

runs = api.runs(f"{entity}/{project}")

columns = ['run_id', 'val_loss', 'val_loss_ci_lower', 'val_loss_ci_upper', 'tokens_seen', 'compute', 'params']
runs_df = pd.DataFrame(columns=columns)

for run in runs:
    summary = run.summary._json_dict
    
    # Extract final logged values, defaulting to None if not available
    row = {
        'run_id': run.id,
        'val_loss': summary.get('val_loss'),
        'val_loss_ci_lower': summary.get('val_loss_ci_lower'),
        'val_loss_ci_upper': summary.get('val_loss_ci_upper'),
        'tokens_seen': summary.get('tokens_seen'),
        'compute': summary.get('compute'),
        'params': summary.get('params'),
    }
    # Insert at the beginning - index 0
    runs_df = pd.concat([pd.DataFrame([row]), runs_df]).reset_index(drop=True)

runs_df

/tmp/ipykernel_167163/124649563.py:24: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  runs_df = pd.concat([pd.DataFrame([row]), runs_df]).reset_index(drop=True)

,run_id,val_loss,val_loss_ci_lower,val_loss_ci_upper,tokens_seen,compute,params
0,i052nchb,1.994979,1.992642,1.997223,25378816,73545778462720,None
1,inzap0mx,1.129691,1.127677,1.131667,53993472,156468762378240,1846016
2,1n8ous25,3.854408,3.852517,3.856340,26992640,78222511308800,1846016
3,mnvq6sr0,4.683319,4.681561,4.685089,13492224,39099385774080,1846016
4,0dv6edrz,5.147617,5.146087,5.149212,6742016,19537823006720,1846016