In [ ]:
import wandb
import matplotlib.pyplot as plt

import pandas as pd

import numpy as np

entity="miki-and-tml"
project="race"
api = wandb.Api()

runs = api.runs(f"{entity}/{project}")

datasets = ['MikiV_SimpleStories_SimpleStories_chunked_512', 'MikiV_SimpleStories_SimpleStories_subchunked_256x2',  'MikiV_SimpleStories_SimpleStories_subchunked_128x4']

val_cols = [f'final_val_loss{ci_suffix}_{dataset}' for dataset in datasets for ci_suffix in ['', '_ci_lower', '_ci_upper']]
dtypes = {
    'tokens_seen': int, # or 'int64'
    'compute': float,
    'params': int
} 
dtypes.update({col: float for col in val_cols})

# 2. Create the empty DataFrame, using keys from dtypes as columns
runs_df = pd.DataFrame(columns=dtypes.keys())

for run in runs:
    summary = run.summary._json_dict
    
    # Extract final logged values, defaulting to None if not available
    row = {
        'run_name': run.name,
        'context': run.name.split('/')[3],
    }
    row.update({col: summary.get(col) for col in dtypes.keys()})

runs_df

/tmp/ipykernel_44557/886547530.py:37: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  runs_df = pd.concat([pd.DataFrame([row]), runs_df]).reset_index(drop=True)

,run_name,context,run_id,tokens_seen,compute,params,final_val_loss_MikiV_SimpleStories_SimpleStories_chunked_512,final_val_loss_ci_lower_MikiV_SimpleStories_SimpleStories_chunked_512,final_val_loss_ci_upper_MikiV_SimpleStories_SimpleStories_chunked_512,final_val_loss_MikiV_SimpleStories_SimpleStories_subchunked_256x2,final_val_loss_ci_lower_MikiV_SimpleStories_SimpleStories_subchunked_256x2,final_val_loss_ci_upper_MikiV_SimpleStories_SimpleStories_subchunked_256x2,final_val_loss_MikiV_SimpleStories_SimpleStories_subchunked_128x4,final_val_loss_ci_lower_MikiV_SimpleStories_SimpleStories_subchunked_128x4,final_val_loss_ci_upper_MikiV_SimpleStories_SimpleStories_subchunked_128x4
0,./cfgs/race/128.yaml,128.yaml,None,1919975424,7787543198171136,4784216,0.659756,0.658412,0.661227,0.667478,0.666018,0.669054,0.699019,0.697470,0.700536
1,./cfgs/race/512.yaml,512.yaml,None,1919975424,12370417016635392,4784216,0.619097,0.617748,0.620631,0.654313,0.652950,0.655864,0.708175,0.706661,0.709725

In [6]:
history = run.history(samples=100000)

df = history[[
    'compute',         # if you logged this
    # 'iteration',       # or 'global_step'
    'final_val_loss_ci_lower_MikiV_SimpleStories_SimpleStories_chunked_512',        # or whatever your key is
    '_runtime'         # seconds since run start
]].dropna(subset=['compute'])
df

,compute,final_val_loss_ci_lower_MikiV_SimpleStories_SimpleStories_chunked_512,_runtime
0,1.329091e+11,NaN,2.842923
1,2.658182e+11,NaN,2.954417
2,3.987273e+11,NaN,3.049703
3,5.316364e+11,NaN,3.141550
4,6.645455e+11,NaN,3.233266
...,...,...,...
58784,7.787144e+15,NaN,18170.762283
58785,7.787277e+15,NaN,18170.854701
58786,7.787410e+15,NaN,18170.946687
58787,7.787543e+15,NaN,18171.038607
58788,7.787543e+15,0.658412,18237.386863